html
  head
    title= site_title
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='/css/newsfeed_styles.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js')
    script(src='/scripts/admin.js')
    script(src='/scripts/newsfeed_adminpanel.js')
  body
      div#header 
        div#title= header_title
        div#subtitle= header_subtitle
      div#subsubtitle Administration Panel
      div#newpost
      div#newsfeed