doctype html
html
  head
    title Megagame Space: Live Megagame Dashboards
    link(rel='stylesheet', href='/css/styles.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js')
    
  body 
    div#landing_info
      p(style='font-size: 2em;') megagame.space
      p(style='font-size: 1.5em;') live modular megagame dashboards
      br
      p if you have been given a dashboard id, enter it below 
      div
        input#dashboard_id
        button#gobtn.landingbtn(onclick='window.location=$("#dashboard_id").val(); console.log("test")') go  
      div(style='color:red;', hidden=!is404) invalid dashboard id  
      p alternatively, you might be looking for: 
      div 
        span 
          button#demobtn.landingbtn(onclick='window.location="/demo"') dashboard demo
        span
          button#demobtn.landingbtn(onclick='window.location="/org"') org admin panel
      

script(src='/scripts/landing.js')