if dash_id == "dmelb"
  img(src='/assets/images/GNN.png' id='nflogo')
else if dash_id == "dcity"
  img(src='https://static.wixstatic.com/media/4b9e61_c833907ac5e1498b85448e5d13021509~mv2.png' id='BBTVLogo')
div#loading
  div#spinner
  p="Loading posts..."
div#postlist
  each post in posts.sort((a, b) => {return a.timecode > b.timecode ? -1 : 1})
    if post.active
      div.post(id=post.id)
        - var post_paras = post.posttext.split('\u000a')
        each para in post_paras
          p.text= para
        p.time= 'Posted at ' + post.timecode