script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js')

script(src='/scripts/timer_editor.js')
div#timer_editor
  table
    tbody#phaselist
      tr 
        th Phase 
        th Duration
      if is_running 
        each x in phases
          tr
            td
              input(class="phase_input", id='phase'+x.id, type='text', value=x.phase, onchange='updatePhase(event)', disabled)
            td
              input(class="phase_input", id='duration'+x.id, type='text', value=x.duration, onchange='updatePhase(event)', disabled)
      else       
        each x in phases
          tr
            td
              input(class="phase_input", id='phase'+x.id, type='text', value=x.phase, onchange='updatePhase(event)')
            td
              input(class="phase_input", id='duration'+x.id, type='text', value=x.duration, onchange='updatePhase(event)')
  div#timer_editor_control
    span.btn#add_row(onclick="addRow()") New Phase
    span.btn#delete_row(onClick="deleteRow()") Remove Phase
