script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js')
script. 
  const phaseData = !{sphases};
  const gameStructure = !{sstruct};
script(src='/scripts/timer.js')
div#timer_module
  div.clock_block
    div.cturn
      span Current Turn: 
      span#current_turn 0
    div.cphase
      span Current Phase: 
      span#current_phase x
    div#time

  div#timer_phases
    table
      tbody#phaselist
        tr 
          th Phase 
          th Duration
        - i = -1
        each x in phases
          tr(id='row'+x.id, class='gid'+x.gid, style=("display:"+(i > 0 ? "none" : "")))
            td
              span(id='phase'+x.id)= x.phase
            td
              span(id='duration'+x.id)= x.duration + " mins"
          - i++