script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js')
script. 
  const phaseData = !{sphases};
  const roundData = !{srounds};
  const runningData = {is_running: !{is_running}, is_paused: !{is_paused}};
  console.log("find me")
script(src='/scripts/timer_editor.js')
div#timer_editor
  div 
    div#timer_editor_gamestructure
    div#timer_editor_control
          span.btn#add_round_row(onclick="addRoundRow()") New Round
          span.btn#delete_round__row(onClick="deleteRoundRow()") Remove Round      
  div#phaseflex
    div
      div.ctext Select a Round Type to Edit: 
      div#round_selectors
        each round in rounds 
          div.paddedbtn(id="sdiv"+round.id)
            span.btnb(id="select"+round.id, onClick="changeRound(event)")=round.round_name
      div.paddedbtn
        span.btn(id="new_round_type", onClick="newRound()") New Round Type
      div.paddedbtn
        span.btn(id="rm_round_type", onClick="rmRound()") Delete Round Type
    div 
      div#round_editor
      div#timer_editor_control
        span.btn#add_row(onclick="addRow()") New Phase
        span.btn#delete_row(onClick="deleteRow()") Remove Phase
