h1,
h2,
h3,
h4 {
    font-family: 'Century Gothic Paneuropean', sans-serif;
}

p {
    font-family: 'Noto Sans', sans-serif;
}

.text {
    font-family: 'Noto Sans', sans-serif;
}

.cphase {
    font-family: 'Century Gothic Paneuropean', sans-serif;
}

.cturn {
    font-family: 'Century Gothic Paneuropean', sans-serif;
}

#timer_phases {
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.7em;
}
